service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{documentId} {
      allow create: if request.resource.data.ownerId is string;
      allow delete;

      match /messages/{documentId} {
        allow read, delete;
        allow create: if request.resource.data.body is string && request.resource.data.messageType is int;
      }
    }
  }
}
